<div class='container'>
  <div>
    <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
    <h1><%= @list.name %></h1>
    </div>
  </div>

  <div>
    <% @list.bookmarks.each do |bookmark| %>
      <%= render 'lists/card', bookmark: bookmark %>
    <% end %>
  </div>

  <div>
    <%= link_to 'Add a film', new_list_bookmark_path(@list) %>
  </div>

  <div>
    <%= link_to 'Back to top', lists_path %>
  </div>
</div>
