<h1>Create a bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "add a bookmark" %>
<% end %>

<%= link_to 'Back to list', lists_path %>
<%= link_to 'Back to home', list_path(@list) %>
